/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.text-area *.text {
    -fx-text-alignment: center;
}

.text-area {
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
}

.text-area .content {
    -fx-background-color: transparent, white, transparent, white;
}

.text-area:focused .content {
    -fx-background-color: transparent, white, transparent, white;
}

.text-area:focused {
    -fx-highlight-fill: #7ecfff;
}

.text-area .content {
    -fx-padding: 10px;
    -fx-text-fill: gray;
    -fx-highlight-fill: #7ecfff;
}

#gridPregunta{
	-fx-background-color: transparent, white, transparent, white;
}